div(id="about-us" class="container h-auto my-5 text-white")
    div(class="row w-100 h-100 justify-content-center align-items-center mx-auto")
        div(class="col-6 d-flex justify-content-center align-items-center my-5 reveal")
            img(id="about-icon" src="../static/img/logo.png")
            
    div(class="row w-100 h-100 justify-content-center align-items-center mx-auto")
        div(class="col-9 mt-5 reveal")
            p(class="text-center").
                Hi, I’m Lorenzo, I’ve been studying Math, Computer Science and Programming by myself for over 3 years.
                I've experience in many frameworks and libraries, like Pandas, Matplotlib, SciPy, NumPy, Flask, React, Bootstrap and many others.
                I consider myself as someone who gets hooked easily and works hard to complete his projects and tasks.
            br
            br
            div(class="mb-5 reveal")
                p(class="text-center") Follow Me on Github:
                a(
                    href="https://github.com/lorenzobunaj" 
                    class="fs-2 d-flex justify-content-center text-white text-decoration-none"
                )
                    i(class="fab fa-github")