div(id="about-us" class="container h-auto my-5 text-white")
    div(class="row w-100 h-100 justify-content-center align-items-center mx-auto")
        div(class="col-6 d-flex justify-content-center align-items-center my-5")
            img(id="about-icon" src="../../../../static/img/lorenzobunaj-logo.png")
            
    div(class="row w-100 h-100 justify-content-center align-items-center mx-auto")
        div(class="col-9 mt-5")
            p(class="text-center").
                Hi, I'm Lorenzo, I have a background in mathematics, computer science and computer programming. 
                My experience includes frameworks, libraries and other technologies concerning different branches of these disciplines. 
                I consider myself a person who gets passionate easily and works hard to get his projects and tasks done.
            br
            br
            div(class="mb-5")
                p(class="text-center") Follow Me on Github:
                a(
                    href="https://github.com/lorenzobunaj" 
                    class="fs-2 d-flex justify-content-center text-white text-decoration-none"
                )
                    i(class="fab fa-github")