// mobile menu 
div(id="nav-mobile-menu" class="position-fixed h-100 w-75 z-3")
    // mobile menu items 
    div(class="container h-25 mt-5")
        div(class="row h-25 justify-content-center align-items-center nav-mobile-item")
            a(href="../" class="text-center text-decoration-none py-1 px-2 rounded-2") Home
        div(class="row h-25 justify-content-center align-items-center nav-mobile-item")
            a(href="../about" class="text-center text-decoration-none py-1 px-2 rounded-2") About
    // mobile github link 
    div(class="container d-flex align-items-end justify-content-center h-60 nav-mobile-item")
        a(href="https://github.com/lorenzobunaj/shouft" class="fs-2 text-decoration-none py-2 px-3 rounded-5")
            i(class="fab fa-github")

div(id="scroll-cover" class="position-fixed bg-black")