/* navbar */
nav {
    backdrop-filter: saturate(160%) blur(15px);
}

/* mobile navbar */
#nav-mobile-menu {
    visibility: hidden;
    transition: left .5s;
    font-weight: 500;
    height: 100%;
}

@media only screen and (min-width: 993px) {
    .nav-item:hover {
        background-color: white;
    }

    .nav-item:hover p {
        color: #0d1117;
    }
}

/* media queries */
@media only screen and (max-width: 992px) {
    #show-nav-button {
        background: none;
        opacity: 100%;
        border: none;
        cursor: pointer;
        transition: .5s;
    }

    #nav-mobile-menu {
        visibility: visible;
        left: -81%;
        background-color: var(--nav-mobile-color);
    }
}

.nav-item {
    background-color: transparent;
    transition: all .2s
}

.nav-item p {
    height: auto;
    font-weight: 500;
    color: white;
    transition: all .3s;
}

.nav-mobile-item {
    background-color: transparent;
    transition: all .2s
}

.nav-mobile-item a {
    height: auto;
    width: auto;
    font-weight: 500;
    color: white;
    transition: all .3s;
}


.nav-mobile-item a:hover {
    background-color: white;
    color: #0d1117;
}

/* background cover during the scroll */
#scroll-cover {
    height: 300%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    display: none;
}