// button
div(class="container h-20 my-5")
    form(class="d-flex justify-content-center")
        button(
          id="i-button" type="button" 
          class="btn d-flex justify-content-center rounded-0 text-white bg-dark"
        )
            p short