// info fields (width > 576px)
div(
    id="info-sm" 
    class="container text-white h-auto"
)
    div(class="row justify-content-around")
        // icons and text sections
        div(class="col-lg-3 col-md-5 col-sm-8 row justify-content-center mb-5")
            div(class="mb-4 d-flex justify-content-center")
                img(src="../static/img/link-icon.png" class="icon")
            div(class="row h-25 text-center icon-text")
                h2 Short Links

        div(class="col-lg-3 col-md-5 col-sm-8 row justify-content-center mb-5")
            div(class="mb-4 d-flex justify-content-center")
                img(src="../static/img/security-icon.png" class="icon")
            div(class="row h-25 text-center icon-text")
                h2 Top Security
                    
        div(class="col-lg-3 col-md-5 col-sm-8 row justify-content-center mb-5")
            div(class="mb-4 d-flex justify-content-center")
                img(src="../static/img/speed-icon.png" class="icon")
            div(class="row h-25 text-center icon-text")
                h2 Max Efficience 
                    
// info fields (width < 576px)
div(id="info-xs" class="h-auto")
    // icons and text sections
    div(class="container d-flex justify-content-center mb-5 text-white")
        div(class="row justify-content-center h-100 w-100")
            div(class="d-flex justify-content-center mb-3")
                img(src="../static/img/link-icon.png" class="icon")
            div(class="row w-100 text-center icon-text")
                h2 Short Links

    div(class="container d-flex justify-content-center mb-5 text-white")
        div(class="row justify-content-center h-100 w-100")
            div(class="d-flex justify-content-center mb-3")
                img(src="../static/img/security-icon.png" class="icon")
            div(class="row w-100 text-center icon-text")
                h2 Top Security

    div(class="container d-flex justify-content-center mb-5 text-white")
        div(class="row justify-content-center h-100 w-100")
            div(class="d-flex justify-content-center mb-3")
                img(src="../static/img/speed-icon.png" class="icon")
            div(class="row w-100 text-center icon-text")
                h2 Max Efficience