div(
    style="margin: 4vh 0;"
    class="container-fluid d-flex justify-content-center"
  ) 
  div(
    class="row justify-content-center align-items-center w-100 text-white title"
    ) 
    div(
      class="col-10 text-center"
      ) Short your links