/* root */
:root {
    --nav-mobile-color: #26292f; 
    --body-bg-color: #0d1117;
    --footer-bg-color: black;
    --input-border-color: #ff1616;
    --input-width: 0%;
    --info-rounded: 7%;
    --text-icon-color: white;
    --invert-icons: 0;
}

/* default values */
html, body {
    height: 100%;
    width: 100%;
    background-color: var(--body-bg-color);
}
html {
    overflow-x: hidden;
}

/* media queries */
@media (min-width: 993px) {
    #navbar-menu-md- {
        display: none;
    }
    #io-form {
        width: 60%
    }
}
@media (max-width: 992px) {
    #navbar-menu-lg {
        display: none;
    }
    #io-form {
        width: 75%;
    }
    #github-link {
        display: none;
    }
}
@media (min-width: 577px) {
    #info-xs {
        display: none;
    }
}
@media (max-width: 576px) {
    #info-sm {
        display: none;
    }
}

#logo {
    height: 100px;
    width: 100px;
}

/* input-output section */
#io-field {
    background-color: var(--body-bg-color);
    border-bottom-color: var(--input-border-color);
    border-width: 0 0 4px;
    animation: appear 2.0s forwards;
    transition: .3s;
}
#io-field:focus {
    transition: .2s;
    box-shadow: 0px 0px 10px var(--input-border-color);
    -webkit-box-shadow: 0px 0px 10px var(--input-border-color);
}
#io-field.invalid {
    animation: invalid .3s infinite forwards;
}
@keyframes appear {
    0% { width: var(--input-width); }
    100% { width: 100%; }
}
@keyframes invalid {
    22.5% { translate: 12px 0; }
    45% { translate: -12px 0; }
    67.5% { translate: 12px 0; }
    90% { translate: -12px 0; }
    100% { translate: 0 0; }
}
#i-button {
    width: 150px;
    height: 60px;
    background-color: #26292f;
    border-color: #444444;
    border-width: 2.5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: .3s;
}
#i-button:hover {
    letter-spacing: 0.3rem;
    border-color: var(--input-border-color);
    width: 160px;
}


/* info section */
#info-sm, #info-xs {
    margin-bottom: 20vh;
}
#info-sm div div {
    border-radius: var(--info-rounded);
}
#info-xs div {
    border-radius: var(--info-rounded);
    width: 70%;
}
/* icons */
.icon {
    width: 150px;
    height: 150px;
    transition: 1.0s;
    filter: invert(var(--invert-icons));
}
.icon-text {
    color: var(--text-icon-color);
    font-size: large;
}

/* footer */
footer {
    background-color: var(--footer-bg-color);
}

/* about */
#about-icon {
    width: 250px;
    height: 250px;
}