// js scripts
script(type="module").
    import CONF from "{{url_for('static', filename='js/conf.js')}}";
    import navbar from "{{url_for('static', filename='js/navbar.js')}}";

    CONF.navButton.addEventListener('click', () => navbar.show(CONF));
    document.addEventListener('click', (event) => {
        if (event.clientX > CONF.navMenu.getBoundingClientRect().right) navbar.hide(CONF);
    });