!!! 5
html(lang="en")
  include components/head.pug
  // generalities
  title="Shouft | About"

  body(style="background-color: #0d1117;")
    include components/navbar/navbar.pug

    include pages/about/presentation.pug

    include components/footer.pug

    include scripts/default.pug
    include scripts/mobileMenu.pug