!!! 5
html(lang="en")
  include components/head.pug
  // generalities
  title="Shouft | Home"

  body(style="background-color: #0d1117;")
    include components/navbar/navbar.pug

    include pages/home/title.pug
    
    include pages/home/input.pug
          
    include pages/home/button.pug
    
    include pages/home/info.pug

    include components/footer.pug

    include scripts/default.pug
    include scripts/mobileMenu.pug
    include scripts/ioFields.pug