// footer
footer(class="text-center text-white")
    div(class="text-center p-3")
    hr(class="mb-5")

    // footer text
    section(class="mb-5")
        div(class="row d-flex justify-content-center")
            div(class="col-9")
                p(id="footer-text").
                    This Url Shortener was born as a team project with the Evovee team. 
                    However, the team disbanded, but the project was finished by me.<br>
                    The original project: 
                    <a style="color: white" href="https://github.com/evovee/evovee-url-shorter"> Here </a>

    hr(class="mt-5")
    div(class="text-center p-3")